#aa
{
	color: darkred;
	font-size: 20px;
	margin-top: 20px;
}
#n1
{
margin-top: 130px;	
}
#n1
{
margin-top: 140px;	
}
#p1
{
margin-top: 80px;	
}

#f1
{
margin-top: 30px;	
}
#p2
{
margin-top: 40px;	
}

#f2
{
margin-top: 60px;	
}
#k1
{

}